@import 'partials/reset';
@import 'partials/fonts';
@import 'partials/colors';
@import 'partials/nav';

html {
    font-family: 'Roboto', sans-serif;
    background-color: $background-color;
    color: $font-color;
    position: relative;
    min-height: 100%;
    padding-bottom: 83.2px;
}

footer {
    background-color: $secondary-color;
    color: #262626;
    padding: 2em;
    position: absolute;
    bottom: 0;
    width: 100%;
}
